form{
  &.inline_form{
    label,
    input{
      display: inline-block;
    }
  }
}
input{
  display: block;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid $color_3;
  font-size: 0.9em;
  padding: 0.5em 0.1em 0.2em;
  margin-bottom: 1.2em;
  outline: none;
  &:not([type="checkbox"]):not([type="radio"]){
    width: 100%;
  }
}
label{
  display: block;
  padding: 0 0.2em 0.4em 0;
  color: $polite_black;
}
button{
  margin-top: 1em;
  font-size: 0.9em;
  outline: none;
}
.checkbox_container,
.radio_container{
  position: relative;
  margin-bottom: 0.6em;
  input[type="checkbox"],
  input[type="radio"]{
    opacity: 0;
    position: absolute;
    &:checked ~ label{
      &:before{
        background: rgba($color_accent_4,0.1);
      }
      &:after{
        display: block;
      }
    }
  }
  label{
    padding-top: 0.2em;
    padding-left: 1.8em;
    cursor: pointer;
    &:before{
      position: absolute;
      content: '';
      height: 18px;
      width: 18px;
      left: -1px;
      top: -1px;
      border: 1px solid $color_4;
    }
    &:after{
      position: absolute;
      display: none;
      color: $color_accent_4;
      font-family: "google-material";
    }
  }
}
.radio_container{
  label{
    &:before{
      border-radius: 100%;
    }
    &:after{
      content: '';
      background: $color_4;
      height: 10px;
      width: 10px;
      top: 4px;
      left: 4px;
      border-radius: 100%;
    }
  }
}
.checkbox_container{
  label{
    &:after{
      left: 0.1em;
      top: 0.1em;
      @extend .icon-check:before;
    }

  }
}