input{
  display: block;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid $color_3;
  font-size: 0.9em;
  padding: 0.5em 0.1em 0.2em;
  margin-bottom: 0.4em;
  outline: none;
}
label{
  display: block;
  padding: 0 0.2em 0.4em 0;
  color: $color_3;
}
button{
  margin-top: 1em;
  font-size: 0.9em;
}
form{
  &.inline_form{
    label,
    input{
      display: inline-block;
    }
  }
}