.clearfix{
	&:after {
		visibility: hidden;
		display: block;
		font-size: 0;
		content: " ";
		clear: both;
		height: 0;
	}
}
.spinned_cw{
	transform:rotate(-180deg);
}
.spinned_acw{
	transform:rotate(-180deg);
}

.container {
  max-width: 1170px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.btn{
	display: inline-block;
	padding: 0.5em 0.9em;
	cursor: pointer;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 3px solid $color_1;
  &.icon_rounded{
    font-size: 1.3em;
    height: 1.8em;
    width: 1.9em;
    padding: 0;
    border-radius: 100%;
    line-height: 1.8em;
    text-align: center;
  }
  &.primary{
    background: $color_4;
    color: $polite_white;
	  border-bottom-color: $color_accent_4;
		&:hover{
			background: darken($color_4,5);
		}
		&.active{
			background: $color_accent_2;
			color: $polite_black;
		}
	}
	&.alert{
		background: $red_alert;
		color: $polite_white;
		&:hover{
			background: darken($red_alert,5);
		}
	}
}
.sticker_list{
	@extend .clearfix;
	margin-left: -1em;
	margin-right: -1em;
	display: flex;
	flex-wrap:wrap;
  li{
  	display: flex;
    margin-bottom: 2em;
  }
  sticker{
  	display: flex;
  	flex-direction: column;
  	flex: 1;
  }
	.sticker{
		flex: 1;
	}
}
.error_msg{
  display: inline-block;
  color: $color_2;
  border: 1px solid $color_2;
  padding: 0.4em 1.5em;
  margin-bottom: 1em;
  font-size: 0.8em;
  font-weight: bold;
}
.thumbnail{
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 66px;
    height: 66px;
    img{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
}
.img_container{
  position: relative;
}
img{
  &:before{
    content:"";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: $color_4;
    border: 2px solid $color_accent_4;
  }
  &:after{
    content: "Image \"" attr(alt) "\" not found";
    color: $polite_white;
    font-size: 1em;
    font-weight: 300;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    text-align: center;
    padding: 1em;
    box-sizing: border-box;
  }
}

.small_text{
  font-size: 0.8em;
  font-weight: 100;
}