.sticker{
  border: 1px solid $color_1;
  padding: 2em 2em 3em;
  &_img{
    display: block;
    position: relative;
    width: 100%;
    min-height: 8em;
    margin-bottom: 1.5em;
  }
  h1{
    font-size: 1.8em;
  }
  a{
    color: $color_4;
    &:hover{
      color: $color_accent_4;
    }
  }
}