
a:hover, a:focus {
  color: $color_1;
}

.navbar {
  position: absolute;
  width: 100%;
  min-height: 50px;
  background-color: $color_3;

  ul {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    li {
      float: left;
      display: block;
      a {
        color: white;
        display: block;
        padding: 15px;
        line-height: 20px;
        box-shadow: 0 0px 0 $color_accent_3 inset;
        transition: box-shadow .2s;
        &:hover{
          box-shadow: 0 -4px 0 $color_accent_3 inset;
        }
      }
      &.active {
        > a {
          background-color: $color_accent_3;
          &:hover{
            box-shadow: 0 -4px 0 $color_3 inset;
          }
        }
        .subnav{
          background: $color_accent_3;
        }
      }
      &:hover{
        .subnav{
          display: flex;
        }
      }
    }
  }
  .subnav{
    display: none;
    position: absolute;
    top:100%;
    flex-direction: column;
    background-color: $color_3;
    z-index: 1;
    font-weight: 300;
    font-size: 0.9em;
    a{
      background-color: rgba(255,255,255,0.2);
    }
  }
}