.picture_info{
  width: 100%;
  padding: 1em;
  margin-bottom: 0.8em;
  border: 2px solid $color_3;
  a{
    display: table;
    display: block;
    color: $polite_black;
  }
  .thumbnail{
    display: table-cell;
    vertical-align: top;
  }
  .picture_title{
    font-size: 1.1em;
    font-weight: normal; 
    margin-bottom: 0.8em;
    color: $color_3;
    word-break: break-word;
  }
  .picture_data{
    display: table-cell;
    vertical-align: top;
    padding-left: 1em;
    td{
      vertical-align: top;
      font-size: 0.8em;
      padding-bottom: 0.8em;
      &:first-child{
        font-size: 0.9em;
        width: 70px;
      }
      &:nth-child(n+1){
        font-weight: 100;
      }
    }
  }
  .angular-google-map-container{
    height: 200px;
    width: 200px;
  }
}