.picture_info{
  width: 100%;
  padding: 1em;
  margin-bottom: 0.8em;
  border: 2px solid $color_3;
  a{
    display: table;
    display: block;
    color: $polite_black;
  }
  .thumbnail{
    display: table-cell;
    vertical-align: top;
  }
  .picture_title{
    font-size: 1.1em;
    font-weight: normal; 
    margin-bottom: 0.8em;
    color: $color_3;
    word-break: break-word;
  }
  .picture_data{
    display: table-cell;
    vertical-align: top;
    padding-left: 1em;
    td:first-child{
      font-size: 0.9em;
      padding: 0.4em 0;
      width: 70px;
    }
    td:nth-child(n+1){
      font-size: 0.9em;
      font-weight: 100;
    }
  }
}