.picInfo{
  h1{
    margin-bottom: 0.5em;
  }
  h2{
    font-size: 1.2em;
    font-weight: normal;
    margin-bottom: 1em;
    color: $color_4;
  }
  .img_container{
    min-height: 100px;
    max-width: 100%;
    img{
      max-width: 100%;
    }
  }
}