<section class="container">
  <header>
    <h1 class="main_title">Last 10 pictures uploaded worldwide</h1>
  </header>
  <section class="picture_list veil_holder">
    <p ng-if="errorMessage" class="error_msg">{{errorMessage}}</p>
    <ul ng-if="userPhotos">
      <li ng-repeat="photo in userPhotos">
        <picture-info 
          pictitle="photo.title"
          picsrc="photo.url_t"
          date="photo.datetaken"
          tags="photo.tags"
          views="photo.views"
          lat="photo.latitude"
          lng="photo.longitude"></picture-info>
      </li>
    </ul>
    <veil showing="userPicsVeil"></veil>
  </section>
</section>