/* Do not remove the comments below. It's the markers used by wiredep to inject
   sass dependencies when defined in the bower.json of your dependencies */
// bower:scss
// endbower

@import 'styles/reset';
@import 'styles/variables';
@import 'styles/fonts';
@import 'styles/forms';
@import 'styles/utils';
@import 'styles/mixins';

@include get_columns(12);

/* Do not remove the comments below. It's the markers used by gulp-inject to inject
   all your sass files automatically */
// injector
// endinjector

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
html,
body{
  height: 100%;
}
body{
  min-height: 100%;
}
body {
  margin: 0;
  font-family: $font_family_main;
}

a {
  text-decoration: none;
}
div[ng-view]{
  height: 100%;
  padding-top: 6em;
}
header{
  padding-bottom: 2em;
}
.picture_list{
  padding: 2em 0;
  .picture_list_title{
    font-size: 1.8em;
    margin-bottom: 1em;
  }
}

.main_title{
  color: $color_2;
}